body {
    background-color: lightgrey;
}

table {
    margin: auto;
    width: 90%;
    border: 2px solid black;
    border-collapse: collapse;
}

th {
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid grey;
    border-collapse: collapse;
}

#mainDude {
    font-size: 2em;
}

#dude {
    font-size: 1.25em;
}

#lesserDude {
    font-size: .75em;
}