@font-face {
    font-family: "1942_report1942_report";
    src: url('1942-webfont.eot');
    src: url('1942-webfont.eot?#iefix') format('embedded-opentype'),
         url('1942-webfont.woff2') format('woff2'),
         url('1942-webfont.woff') format('woff'),
         url('1942-webfont.ttf') format('truetype'),
         url('1942-webfont.svg#1942_report1942_report') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: lightgrey;
}

#backgroundImage {
    width: 650px;
    height: 650px;
    margin: 0 auto;
    background-image: url("https://f1.bcbits.com/img/a3784127312_16.jpg");
}

table {
    margin: auto;
    width: 90%;
    border: 2px solid black;
    border-collapse: collapse;
}

th {
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid grey;
    border-collapse: collapse;
}

li {
    font-style: italic;
}

#mainDude {
    font-size: 2em;
}

#dude {
    font-size: 1.5em;
}

#lesserDude {
    font-size: 1em;
}

.coolFont {
    font-family: "1942_report1942_report";
}