table, td, th
{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    height: 30px;
}
th
{
    background-color: #D3D3D3;
}
th:nth-child(1)
{
    width: 10%
}
th:nth-child(2)
{
    width: 30%
}
th:nth-child(3)
{
    width: 60%
}
table
{
    height: 125px;
    width: 90%;
    margin: auto;
}
ul
{
    margin-left: 5%;
}
img
{
    display: block;
    margin: auto;
}
h1, h2, h3
{
    text-align: center;
}