body {
    background-color: lightgray;
}

header {
    width: 100%;
    text-align: center;
}

nav {
    width: 100%;
    background-color: darkgray;
}

ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: inline-block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: white;
}

li a:hover {
    background-color: #323232;
}

.active {
    background-color: black;
}

#info {
    border: 2px solid black;
    height: 100%;
    width: 360px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}