@font-face {
    font-family: '20_dbregular';
    src: url('20db-webfont.eot');
    src: url('20db-webfont.eot?#iefix') format('embedded-opentype'),
         url('20db-webfont.woff2') format('woff2'),
         url('20db-webfont.woff') format('woff'),
         url('20db-webfont.ttf') format('truetype'),
         url('20db-webfont.svg#20_dbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: lightgray;
    margin-bottom: 60px;
}

header {
    width: 100%;
    text-align: center;
    font-family: "20_dbregular";
}

html {
  position: relative;
  min-height: 100%;
}

#info {
    border: 2px solid black;
    height: 100%;
    width: 360px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}